.CV-fred{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 30px;
    border:3px solid var(--bleu);
    padding: 20px;
    width: -webkit-fill-available;
}

.CV-fred #diplomes-button, .CV-fred #diplomes-button:hover, .CV-fred #diplomes-button:active, .CV-fred #diplomes-button:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 30px;
    font-size: 100%;
    width: 15%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid var(--bleu);
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CV-fred .diplomes{
    display: none;
    flex-direction: column;
    width:100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CV-fred .diplomes-date-recap{
    display: flex;
    margin: 5px;
    border-radius: 30px;
    border:1px solid var(--bleu);
}

.CV-fred .diplomes-date{
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bleu);
}

.CV-fred .diplomes-recap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.CV-fred .diplomes-recap p{
    width: 30%;
    text-align: center;
}

.CV-fred #formateur-button, .CV-fred #formateur-button:hover, .CV-fred #formateur-button:active, .CV-fred #formateur-button:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 30px;
    font-size: 100%;
    width: 15%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid var(--bleu);
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CV-fred .formateur{
    display: none;
    flex-direction: column;
    width:100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CV-fred .formateur-date-recap{
    display: flex;
    margin: 5px;
    border-radius: 30px;
    border:1px solid var(--bleu);
}

.CV-fred .formateur-date{
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bleu);
}

.CV-fred .formateur-recap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.CV-fred .formateur-recap p{
    width: 30%;
    text-align: center;
}

.CV-fred #recherches-cliniques-button, .CV-fred #recherches-cliniques-button:hover, .CV-fred #recherches-cliniques-button:active, .CV-fred #recherches-cliniques-button:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 30px;
    font-size: 100%;
    width: 15%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid var(--bleu);
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CV-fred .recherches-cliniques{
    display: none;
    flex-direction: column;
    width:100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CV-fred .recherches-cliniques-date-recap{
    display: flex;
    margin: 5px;
    border-radius: 30px;
    border:1px solid var(--bleu);
}

.CV-fred .recherches-cliniques-date{
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bleu);
}

.CV-fred .recherches-cliniques-recap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.CV-fred .recherches-cliniques-recap p{
    width: 30%;
    text-align: center;
}

@media screen and (min-width:1px) and (max-width: 450px) {
    .CV-fred{
        height: auto;
    }

    .CV-fred #diplomes-button, .CV-fred #diplomes-button:hover, .CV-fred #diplomes-button:active, .CV-fred #diplomes-button:visited{
        width: fit-content;
        font-size: xx-small;
    }
    
    .CV-fred .diplomes-date{
        width: 35%;
    }
    
    .CV-fred .diplomes-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .diplomes-recap p{
        white-space: normal;
        width: 90%;
    }
    
    .CV-fred #formateur-button, .CV-fred #formateur-button:hover, .CV-fred #formateur-button:active, .CV-fred #formateur-button:visited{
        width: fit-content;
        font-size: xx-small;
    }
    
    .CV-fred .formateur-date{
        width: 35%;
    }
    
    .CV-fred .formateur-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .formateur-recap p{
        white-space: normal;
        width: 90%;
    }
    
    .CV-fred #recherches-cliniques-button, .CV-fred #recherches-cliniques-button:hover, .CV-fred #recherches-cliniques-button:active, .CV-fred #recherches-cliniques-button:visited{
        width: fit-content;
        font-size: xx-small;
    }
    
    .CV-fred .recherches-cliniques-date{
        width: 35%;
    }
    
    .CV-fred .recherches-cliniques-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .recherches-cliniques-recap p{
        white-space: normal;
        width: 90%;
    }
}

@media screen and (min-width:451px) and (max-width: 600px) {
    .CV-fred{
        height: auto;
    }

    .CV-fred #diplomes-button, .CV-fred #diplomes-button:hover, .CV-fred #diplomes-button:active, .CV-fred #diplomes-button:visited{
        width: fit-content;
        font-size: x-small;
    }
    
    .CV-fred .diplomes-date{
        width: 35%;
    }
    
    .CV-fred .diplomes-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .diplomes-recap p{
        white-space: normal;
        width: 90%;
    }
    
    .CV-fred #formateur-button, .CV-fred #formateur-button:hover, .CV-fred #formateur-button:active, .CV-fred #formateur-button:visited{
        width: fit-content;
        font-size: x-small;
    }
    
    .CV-fred .formateur-date{
        width: 35%;
    }
    
    .CV-fred .formateur-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .formateur-recap p{
        white-space: normal;
        width: 90%;
    }
    
    .CV-fred #recherches-cliniques-button, .CV-fred #recherches-cliniques-button:hover, .CV-fred #recherches-cliniques-button:active, .CV-fred #recherches-cliniques-button:visited{
        width: fit-content;
        font-size: x-small;
    }
    
    .CV-fred .recherches-cliniques-date{
        width: 35%;
    }
    
    .CV-fred .recherches-cliniques-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .recherches-cliniques-recap p{
        white-space: normal;
        width: 90%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .CV-fred{
        height: auto;
    }

    .CV-fred #diplomes-button, .CV-fred #diplomes-button:hover, .CV-fred #diplomes-button:active, .CV-fred #diplomes-button:visited{
        width: fit-content;
        font-size: small;
    }
    
    .CV-fred .diplomes-date{
        width: 35%;
    }
    
    .CV-fred .diplomes-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .diplomes-recap p{
        white-space: normal;
        width: 90%;
    }
    
    .CV-fred #formateur-button, .CV-fred #formateur-button:hover, .CV-fred #formateur-button:active, .CV-fred #formateur-button:visited{
        width: fit-content;
        font-size: small;
    }
    
    .CV-fred .formateur-date{
        width: 35%;
    }
    
    .CV-fred .formateur-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .formateur-recap p{
        white-space: normal;
        width: 90%;
    }
    
    .CV-fred #recherches-cliniques-button, .CV-fred #recherches-cliniques-button:hover, .CV-fred #recherches-cliniques-button:active, .CV-fred #recherches-cliniques-button:visited{
        width: fit-content;
        font-size: small;
    }
    
    .CV-fred .recherches-cliniques-date{
        width: 35%;
    }
    
    .CV-fred .recherches-cliniques-recap{
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 75%;
        align-items: flex-start;
    }
    
    .CV-fred .recherches-cliniques-recap p{
        white-space: normal;
        width: 90%;
    }
}