.CV-nath{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 30px;
    border:3px solid var(--bleu);
    padding: 20px;
    width: -webkit-fill-available;
}

#diplomes-button, #diplomes-button:hover, #diplomes-button:active, #diplomes-button:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 30px;
    font-size: 100%;
    width: 15%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid var(--bleu);
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.diplomes{
    display: none;
    flex-direction: column;
    width:100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.diplomes-date-recap{
    display: flex;
    margin: 5px;
    border-radius: 30px;
    border:1px solid var(--bleu);
}

.diplomes-date{
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bleu);
}

.diplomes-recap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.diplomes-recap p{
    width: 30%;
    text-align: center;
}

#formateur-button, #formateur-button:hover, #formateur-button:active, #formateur-button:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 30px;
    font-size: 100%;
    width: 15%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid var(--bleu);
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formateur{
    display: none;
    flex-direction: column;
    width:100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formateur-date-recap{
    display: flex;
    margin: 5px;
    border-radius: 30px;
    border:1px solid var(--bleu);
}

.formateur-date{
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bleu);
}

.formateur-recap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.formateur-recap p{
    width: 30%;
    text-align: center;
}

#recherches-cliniques-button, #recherches-cliniques-button:hover, #recherches-cliniques-button:active, #recherches-cliniques-button:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 30px;
    font-size: 100%;
    width: 15%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid var(--bleu);
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recherches-cliniques{
    display: none;
    flex-direction: column;
    width:100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recherches-cliniques-date-recap{
    display: flex;
    margin: 5px;
    border-radius: 30px;
    border:1px solid var(--bleu);
}

.recherches-cliniques-date{
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bleu);
}

.recherches-cliniques-recap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.recherches-cliniques-recap p{
    width: 30%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    
}